.additional-products__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @black;
}

.additional-products__list {
  list-style: none;
  padding: 0;
}
