.additional-product-item__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: @special-dark-grey-additional;
  text-transform: uppercase;
}

.additional-product-item__quantity,
.additional-product-item__cost {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: @special-dark-grey;
}
