.advantages__item {
  background-color: @basic-grey;
}

.advantages__title {
  font-family: "Oswald","Arial",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: @black;
  text-transform: uppercase;
}

.advantages__list {
  list-style: none;
  padding: 0;
}

.advantages__description {
  font-family: "Arial",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey;
}

.advantages__button {
  font-family: "Oswald","Arial",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: @black;
  text-transform: uppercase;
}
