.advantages {
  padding-top: 22px;
}

.advantages__wrapper {
  .container(mobile);
}

.advantages__item {
  background-color: @basic-gray;
  padding-top: 30px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

.advantages__item:not(:last-of-type) {
  margin-bottom: 20px;
}

.advantages__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: @black;
  text-transform: uppercase;
  margin-left: 68px;
  position: relative;

  &--slimming {
    &::before {
      content: "";
      position: absolute;
      left: -68px;
      top: -9px;
      width: 50px;
      height: 53px;
      background-image: url("../img/cat-sitting.svg");
    }
  }

 &--weight-gain {
  &::before {
    content: "";
    position: absolute;
    left: -78px;
    width: 67px;
    height: 50px;
    background-image: url("../img/cat-walking.svg");
  }
 }
}


.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages__description {
  display: block;
  margin-top: 29px;
  padding-bottom: 23px;
  border-bottom: 1px solid @dark-gray;
  width: 227px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-gray;
}

.advantages__button {
  display: block;
  margin-top: 15px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: @black;
  text-transform: uppercase;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 102px;
    width: 24px;
    height: 12px;
    background-image: url("/img/icon-arrow.svg");
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .advantages__wrapper {
    .container(tablet);
  }

  .advantages__item {
    margin: 0;
    padding-bottom: 53px;
    padding-top: 77px;
    padding-left: 53px;
  }

  .advantages__item:not(:last-of-type) {
    margin-bottom: 30px;
  }


  .advantages__title {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    text-align: left;

    &--slimming {
      &::before {
        content: "";
        left: 393px;
        top: 0px;
        width: 200px;
        height: 211px;
        background-size: 200px auto;
      }
    }

   &--weight-gain {
    &::before {
      left: 359px;
      top: 0px;
      width: 268px;
      height: 200px;
      background-size: 268px auto;
    }
   }
  }

  .advantages__description {
    color: @black;
    width: 377px;
    font-size: 16px;
    line-height: 24px;
    border: 0;
    padding: 0;
  }

  .advantages__description:last-of-type {
    width: 342px;
  }

  .advantages__button {
    margin-top: 52px;
    font-size: 20px;
    line-height: 30px;

    &::after {
      left: 133px;
      top: 9px;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    padding-top: 82px;
  }

  .advantages__wrapper {
    .container(desktop);
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
  }

  .advantages__item {
    width: 570px;
    padding-left: 52px;
    padding-right: 51px;
    padding-bottom: 59px;
    margin: 0;
  }

  .advantages__item:not(:last-of-type) {
    margin-bottom: 0px;
  }

  .advantages__title {
    text-align: center;

    &--slimming {
      &::before {
        content: "";
        left: 0px;
        top: -26px;
        width: 100px;
        height: 106px;
        background-size: 100px auto;
      }
    }

   &--weight-gain {
    &::before {
      left: -19px;
      top: -31px;
      width: 134px;
      height: 100px;
      background-size: 134px auto;
    }
   }
  }

  .advantages__description {
    margin-top: 73px;
    width: 467px;
  }

  .advantages__description:last-of-type {
    width: 457px;
  }

  .advantages__button {
    margin-top: 23px;
  }
}
