.cat-info__title {
  display: block;
  margin-bottom: 26px;
  margin-top: 37px;
  width: 226px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.cat-info__inner {
  margin-top: 13px;
  display: flex;
  align-items: center;
}

.cat-info__input,
.cat-info__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-dark-grey;
}

.cat-info__input {
  margin-left: 13px;
  padding-left: 15px;
  height: 45px;
  flex-grow: 1;
  border: 1px solid @light-grey-additional;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .cat-info__title {
    width: 323px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 46px;
  }

  .cat-info__inner {
    margin-top: 20px;
  }

  .cat-info__input,
  .cat-info__label {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .cat-info__wrapper {
    width: 570px;
  }
}
