.description-of-work__title {
  font-family: "Oswald","Arial",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.description-of-work__list {
  list-style: none;
  padding: 0;
}

.description-of-work__declaration {
  font-family: "Arial",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey;
}
