.live-example {
  background-color: @live-example_background;
}

.live-example__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}


.live-example__description {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @special_dark-grey;
}

