.map-plate {
  background-color: @white;
  display: flex;
  justify-content: space-between;
  padding: 28px 0;

  &--color {
    background-color: @basic-gray;
  }
}

.map-plate__slogan {
  display: block;
  width: 140px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @special-black;
  text-transform: uppercase;
}

.map-plate__address {
  display: block;
  width: 140px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @special-dark-gray;
}

@media (min-width: @tablet-width) {

  .map-plate {
    padding: 62px 42px 51px 41px;
  }

  .map-plate__slogan {
    font-size: 20px;
    line-height: 21px;
    width: 170px;
  }

  .map-plate__address {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    width: 160px;
  }
}

@media (min-width: @desktop-width) {

  .map-plate {
    padding: 66px 76px 51px 76px;

    &--color {
      background-color: @white;
    }
  }

  .map-plate__address {
    text-align: left;
  }
}
