.map {
  background-color: @white;
  position: relative;

  &--color {
    background-color: @basic-gray;
  }
}

.map__picture img {
  width: 320px;
  margin-left: -20px;
}

@media (min-width: @tablet-width) {
   .map__picture img {
    width: 768px;
    margin-left: -30px;
  }
}

@media (min-width: @desktop-width) {
  .map__inner {
    position: absolute;
    width: 570px;
    height: 201px;
    top: 95px;
  }

  .map__picture img {
    width: 1440px;
    margin-left: -110px;
  }
}
