.nav {
  position: relative;
}

.nav__toggle {
  position: absolute;
  right: 0;
  top: -47px;
  width: 18px;
  height: 18px;
  border: 0;
  background-image: url("/img/icon-toggle.svg");
  background-color: @white;
  background-position: center;
  background-repeat: no-repeat;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__item {
  width: 320px;
  padding-top: 22px;
  margin-bottom: 24px;
  margin-left: -20px;
  border-top: 1px solid @light-gray-additional;
}

.nav__link {
  display: block;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
}

@media (min-width: @tablet-width) {
  .nav__list {
    width: 440px;
    margin-top: 42px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav__item {
    margin: 0;
    padding: 0;
    border: 0;
    width: max-content;
  }

  .nav__link {
    font-size: 18px;
    line-height: 24px;

    &--on-white-background {
      color: @black;
    }
  }

  .nav__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .nav__list {
    width: 483px;
  }

  .nav__link {
    font-size: 20px;
    line-height: 30px;
    color: @white;

    &--on-white-background {
      color: @black;
    }
  }
}
