.present {
  background-color: @basic-green;
  width: 100%;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.present__description {
  display: block;
  width: 160px;
  padding-bottom: 43px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .present {
    min-height: 200px;
  }
}

@media (min-width: @desktop-width) {
  .present {
    width: 245px;
    min-height: 289px;
  }
}
