.visual-change__wrapper {
  margin-top: 23px;
  display: flex;
  justify-content: center;


  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
