.container(mobile) {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.container(tablet) {
  width: 708px;
  padding: 0 30px;
  margin: 0 auto;
}

.container(desktop) {
  width: 1220px;
  padding: 0 110px;
  margin: 0 auto;
}
